body {
  min-width: 900px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #849d8f;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
label {
  margin: 0;
  padding: 0;
}
header {
  padding: 9px 0;
}
.navigation-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: 1px;
  padding: 17px 0;
}
.col-logo {
  width: 154px;
}
.col-navigation {
  flex-grow: 1;
  padding: 0 1.2%;
}
.col-profile {
  width: 249px;
  position: relative;
}
.col-profile_catalog {
  width: 266px;
  position: relative;
}
.top-logo {
  margin-left: 5px;
}
.navigation-list{
  height: 100%;
  display: flex;
  margin-top: -3px;
}
.navigation-list li {
  display: inline-block;
}
.navigation-list a,
.catalog-link {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255, 0.5);
  cursor: pointer;
}
.navigation-list .catalog-link_red {
  background-color: #d07058;
  padding: 6px 15px 7px 13px;
  border-radius: 17px;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}
.delivery:hover,
.about-us:hover,
.catalog-link:hover{
  padding: 6px 17px 7px 11px;
  border-radius: 17px;
  background-color: #fff;
  color: #000;
}
.delivery:active,
.about-us:active,
.catalog-link:active{
  padding: 6px 17px 7px 11px;
  border-radius: 17px;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
  color: #000;
}
.sub-menu {
  visibility: hidden;
  position: absolute;
  top: 45px;
  left: -8px;
  padding: 6px 0;
  z-index: 10;
}
.navigation-list li:hover .sub-menu {
  visibility: visible;
}
.navigation-list li:hover .catalog-link {
  padding: 6px 15px 7px 13px;
  border-radius: 17px;
  background-color: #fff;
  color: #000;
}
.sub-menu-list li {
  display: block;
}
.sub-menu-list {
  background-color: #f8f7f4;
  border-radius: 6px;
  padding: 4px 0 0px;
  z-index: 10;
  overflow: hidden;
}
.sub-menu-list span {
  display: block;
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px 57px 12px 14.7px;
}
.navigation-list a{
  padding: 6px 15px 7px 13px;
}
.sub-menu-list a {
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  padding: 0 19px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.new-text {
  padding: 5px 19px 12px;
}
.sub-menu-list li:nth-child(2) a {
  padding: 6.5px 19px;
}
.milky-link {
  background-color: #f6b5a5;
}
.sub-menu-list li:nth-child(3) a {
  padding: 6.5px 18px;
}
.sub-menu-list li:nth-child(4) a {
  padding: 6.5px 18px;
}
.sub-menu-list li:nth-child(5) a {
  padding: 6.5px 19px 12px;
}
.sub-menu-list li:nth-child(5) a:hover .sub-menu-list {
  border-radius: 6px;
}
.sub-menu-list a:hover {
  background-color:#fbded7;
}
.sub-menu-list a:active {
  background-color:#f6b5a5;
}
.cont-loupe {
  position: relative;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: rgba(255,254,255,0.2);
  border-radius: 50%;
}
.cont-loupe::before {
  content: '';
  background: url(../img/loupe.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 1;
}
.input-text {
  border: 1px solid #d3d3d2;
  background-color: #f8f7f4;
  position: absolute;
  top: 52px;
  left: -309px;
  z-index: 10;
  padding: 20px 14px 19px 15px;
  border-radius: 7px;
}
.input-text {
  visibility: hidden;
}
.input-text input {
  padding: 12px 124px 14px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  color: #999999;
}
.input-text input:hover {
  padding: 11px 123px 13px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  border-radius: 6px;
}
.input-text input:focus {
  padding: 11px 123px 13px 12px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 6px;
}
.menu-list li:hover .input-text {
  visibility: visible;
}
.cont-loupe:hover {
  background-color: #f8f7f4;
}
.menu-list li:hover .cont-loupe::before {
  content: url("../img/loupe-black.svg");
}
.menu-list li:hover .cont-loupe {
  background-color: #f8f7f4;
}
.menu-item_right {
  height: 100%;
}
.menu-list {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -3px;
}
.menu-list li{
  display: inline-block;
}
.menu-list a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}
.menu-list .order-basket {
  position: relative;
  background-color: #f7f6f3;
  padding: 8px 16px 8px 43px;
  border-radius: 20px;
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.menu-list .order-basket::before {
  content: '';
  background: url(../img/basket-catalog.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 15px;
  opacity: 1;
}
.your-order {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 53px;
  right: 5px;
  padding: 10px 15px 20px 15px;
  z-index: 100;
  background-color: #f8f7f4;
  width: 539px;
  border-radius: 6px;
}
.your-order p {
  padding: 0;
  margin: 0;
}
.orange-ice,
.white-chocolate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.orange-ice {
  padding: 10px 0 10px 27px;
}
.white-chocolate {
  padding: 10px 0 9px 27px;
}
.your-order .paragraph-text-ice {
  color: #323232;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 8px 12px;
  max-width: 242px;
}
.your-order .paragraph-weight {
  color: #323232;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 8px 19px;
}
.your-order .paragraph-weight span{
  color: #999999;
}
.your-order .paragraph-cost {
  padding: 6px 11px;
}
.small-ice_one,
.small-ice_two {
  display: block;
  float: left;
  width: 33px;
  height: 33px;
}
.total-cost-wrapper {
  text-align: end;
  width: 100%;
}
.total-cost {
  border-top: 1px solid #cacac7;
}
.close-button {
  cursor: pointer;
}
.close-button::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 4px;
  width: 15px;
  height: 1px;
  border-top: 1px solid #575454;
  transform: rotate(45deg);
}
.close-button::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 4px;
  width: 15px;
  height: 1px;
  border-top: 1px solid #575454;
  transform: rotate(-45deg);
}
.close-button-form {
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 17px;
  border: none;
}
.close-button-form::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 1px;
  border-top: 2px solid #231f20;
  transform: rotate(45deg);
}
.close-button-form::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 22px;
  height: 1px;
  border-top: 2px solid #231f20;
  transform: rotate(-45deg);
}
.menu-list li:hover .your-order {
  visibility: visible;
}
.menu-list .checkout {
  display: inline-block;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 1px 2px #ac1000;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  padding: 10px 13px 11px 14px;
}
.your-order .total-cost p {
  color: #323232;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px 0px;
}
.contacts {
  position: absolute;
  right: 3px;
  top: 62px;
  text-align: right;
}
.graph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 0;
  margin: 0;
  margin: 2px 0;
}
.tel {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
.cont-enter {
  position: relative;
  background-color: rgba(255,254,255,0.2);
  padding: 8px 14px 8px 42px;
  border-radius: 20px;
  margin: 0px 10px;
}
.cont-enter::before {
  content: '';
  background: url(../img/enter.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 16px;
  opacity: 1;
}
.menu-list li:hover .cont-enter::before {
  content: url("../img/enter-black.svg");
}
.menu-list li:hover .cont-enter {
  background-color: #f8f7f4;
  color: #000;
}
.enter-form {
  visibility: hidden;
  position: absolute;
  top: 53px;
  right: 111px;
  padding: 19px 17px 21px 18px;
  border-radius: 7px;
  border: 1px solid #d3d3d2;
  background-color: #f8f7f4;
  z-index: 10;
  width: 279px;
}
.enter-form input:hover {
  padding: 11px 12px 13px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  border-radius: 6px;
}
.enter-form input:focus {
  padding: 11px 12px 13px 12px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 6px;
}
.menu-list li:hover .enter-form {
  visibility: visible;
}
.enter-form input {
  padding: 12px 14px 14px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
}
.enter {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 11px 25px 10px 25px;
  display: block;
}
.enter:hover {
  box-shadow: 0 2px 2px #ac1000;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.enter:active {
  box-shadow: inset 0 2px 2px #942718;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}
.link-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.links-form a {
  display: block;
  color: #979795;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}
.button-wrapper {
  margin-right: 20px;
}
.forgot-password {
  margin-top: 2px;
  border-bottom: 1px solid #979795;
  margin-right: 17px;
}
.new-registration {
  margin-top: 3.8px;
  border-bottom: 1px solid #979795;
  margin-right: 0px;
}
.forgot-password:hover,
.new-registration:hover,
.forgot-password:active,
.new-registration:active {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}
.cont-basket {
  position: relative;
  background-color: rgba(255,254,255,0.2);
  padding: 8px 14px 8px 42px;
  border-radius: 20px;
}
.cont-basket::before {
  content: '';
  background: url(../img/basket.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 16px;
  opacity: 1;
}
.wrapper-content {
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 900px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1.9%;
}

.slider {
  min-width: 900px;
  max-width: 1200px;
}
.slider {
  position: relative;
  padding: 280px 0 0 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 13px;
}
.slide-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 30px 0;
}
.buttons {
  padding: 9px 41px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 50px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
  border: none;
  display: inline-block;
}
.buttons:hover {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.buttons:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.slider-controls label {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  background-color: transparent;
  cursor: pointer;
}
.labe-prod-1:hover,
.labe-prod-2:hover,
.labe-prod-3:hover {
  background-color: rgba(255,255,255, 0.3);
}
.slider-controls {
  position: absolute;
  bottom: 50px;
  left: 27px;
  font-size: 0;
  z-index: 20;
}
.slider-item-1,
.slider-item-2,
.slider-item-3 {
  display: none;
}
.slide-block {
  display: block;
}
.checked-bg {
  background-color: #fff !important;
}
.main-section {
  margin-bottom: 40px;
}
.product-1 {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.product-2 {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.product-3 {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
  background-repeat: no-repeat;
  background-position: top center;
}
  .slider-list li {
    width: 675px;
    margin: 0 auto 30px;
  }

/* offer blocks */
.promo-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2.271%;
  min-height: 100%;
}
.offer-raspberry,
.offer-chocolate {
  border-radius: 15px;
  padding: 15px 18px;
}
.raspberry-container {
  width: 48.867%;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 15px 15px 36.1px 18.2px;
  background-color: #440310;
}
.chocolate-container {
  width: 48.767%;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 15px 15px 36.1px 18.2px;
  background-color: #653c28;
}
.buy-link {
  text-align: right;
  padding: 0 1.2%;
}
.free-raspberry,
.free-chocolate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
}
.offer-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 15.5px 1px;
  min-height: 100px;
  margin-bottom: 13px;
}
.jam,
.chocolate,
.checkout {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  border-radius: 20px;
}
.jam {
  padding: 10px 22px 13px;
}
.chocolate {
  padding: 10px 20px 13px;
}
.fast-show {
  visibility: hidden;
  display: block;
  bottom: 21px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  cursor: pointer;
  padding: 9px 6% 12px;
  margin-bottom: 21px;
}
.link-wrapper_hover {
  display: flex;
  align-items: end;
  justify-content: space-around;
  visibility: hidden;
  position: absolute;
  top: -7px;
  left: 0px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 6px;
  min-height: 350px;
  width: 100%;
  z-index: 10;
  height: 121.8%;
}
.ice-row {
  position: relative;
}
.ice-row div:hover .link-wrapper_hover {
  visibility: visible;
}
.ice-row div:hover .fast-show {
  visibility: visible;
}
.ice-col {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  margin-bottom: 23px;
}
.ice-column {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
}
.jam:hover,
.chocolate:hover,
.send-email:hover,
.popup-button:hover,
.fast-show:hover,
.checkout:hover,
.send-form:hover  {
  box-shadow: 0 2px 2px #ac1000;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.jam:active,
.chocolate:active,
.send-email:active,
.popup-button:active,
.fast-show:active,
.checkout:active,
.send-form:active {
  box-shadow: inset 0 2px 2px #942718;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}
.popup {
  position: absolute;
  bottom: 0%;
  left: 30.3%;
  display: flex;
  flex-wrap: wrap;
  width: 477px;
  height: 442px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 29px 24px 29px 24px;
  animation-name: bounce;
  animation-duration: 1s;
  z-index: 1000;
}
@keyframes bounce {
  0% {
    transform: translatey(-600px)
  }
  100% {
    transform: translateY(0px)
  }
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.popup span {
  padding: 0;
  margin: 0;
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 34px;
  display: inline-block;
}
.your-name {
  display: inline-block;
  width: 267px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  padding: 0 14px;

  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.your-mail {
  display: inline-block;
  width: 267px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  margin: 20px 0;
  padding: 0 14px;

  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.your-message {
  width: 428px;
  height: 155px;
  resize: none;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  padding: 7px 13px;

  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.send-form {
  float: right;
  margin-top: 25px;

  display: block;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 9px 23px 10px 23px;
}
/* offer blocks */

/* block with ice */
.text-about-ice {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin-top: 12px;
}
.ice-cost {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  bottom: -9px;
}
.ice-cost span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.text-wrapper {
  padding: 0px 12px;
}
.item-ice {
  margin-bottom: 23px;
}
.item-ice_1,
.item-ice_2,
.item-ice_3 {
  max-width: 100%;
}
.ice-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.ice-row {
  display: flex;
  flex-wrap: wrap;
}
.ice-wrapper {
  padding: 0 12.5px;
  position: relative;
}
.ice-wrapper::before {
  content: url("../img/hit.png");
  max-width: 100%;
  position: absolute;
  top: 0px;
  left: 13px;
}
/* block with ice */

/* about us block */
.about-shop {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 16px 1.7% 0;
}
.about-item {
  background: url("../img/wafes.jpg");
  background-repeat: repeat;
  background-position: top center;
  width: 95.5%;
  border-radius: 15px;
  margin: 0 2.3% 40px 2.3%;
  padding: 8px 0 14px 0;
  z-index: 100;
  background-color: #e4d4b4;
}
.container-item {
  display: flex;
  flex-wrap: wrap;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 8px 0 6px;
}
.advantages-list li{
  position: relative;
  width: 50%;
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 16px 5px 70px;
  margin-bottom: 6px;
}
/*
.wrapper-icecream,
.wrapper-leaf,
.wrapper-therm,
.wrapper-cow {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
*/
.advantages-icecream::before {
  content: url("../img/icecream.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}

.advantages-leaf::before {
  content: url("../img/leaf.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}

.advantages-cow::before {
  content: url("../img/cow.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}

.advantages-therm::before {
  content: url("../img/therm.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}
.news {
  margin-bottom: 40px;
}
.wrapper-news {
  display: flex;
  justify-content: space-between;
  margin: 0 2.2%;
}
.about-blog,
.callback {
  flex: 0 0 48.8%;
  max-width: 48.8%;
}
.about-blog {
  background: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
  padding: 21px 1.8% 21px;
  height: 220px;
  background-color: #fff;
}
.new-inblog {
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-bottom: 5px;
}
.ten-ways {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 290px;
}
.callback {
  background: url("../img/border-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
  padding: 4.5px;
  height: 220px;
  background-color: #f8f7f4;
}
.callback-block {
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 28px 20px;
  height: 211px;
}
.form-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.callback p {
  color: #5a5a5a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 36px;
}
.your-email {
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 14px 10px 14px;
  border-radius: 6px;
  margin-right: 6px;
  width: 72.2%;
  display: block;
}
.send-email {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 9px 18px 10px 18px;
  width: 130px;
  display: block;
}
.map {
  position: relative;
  width: 100%;
  border: none;
  margin: 0 auto;
  line-height: 0;
}
.phone {
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 5px;
}
.city {
  color: #323232;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 18px;
}
.number {
  color: #323232;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 11px;
}
.hour {
  margin-bottom: 36px;
}
.adress {
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 2px;
}
.adress-block {
  width: 302px;
  height: 305px;
  background-color: #ffffff;
  position: absolute;
  top: 62px;
  right: 27px;
  border-radius: 15px;
  padding: 30px 25px;
}
.popup-button {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 24px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 9px 26px 12px 29px;
}
.map iframe {
  border: none;
}
/* about us block */

/*footer*/
footer {
  height: 103px;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 1.9%;
  align-items: center;
  border-top: 1px solid rgba(255,255,255, 0.3);
  padding: 18px 0;
}
.col-social {
  width: 197px;
  padding: 4px 6px 0px 6px;
}
.col-siteby {
  width: 193px;
  height: 68px;
}
.logo-img img{
  margin-bottom: 2px;
}
.col-links {
  flex-grow: 1;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social li{
  position: relative;
  display: inline-block;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}
.social svg {
  fill: #e6ebe9;
}
.social svg:hover {
  fill: #fff;
}
.social svg:active {
  fill: #e9e9e9;
}
.social li:hover{
  border: 3px solid #dae2de;
}
.social-img {
  z-index: 100;
  width: 32px;
  height: 32px;
  display: block;
}
.adress-suppliers a,
.our-documents a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.adress-suppliers a:hover,
.our-documents a:hover {
  color: #e84d37;
}
.adress-suppliers li:nth-child(1),
.our-documents li:nth-child(1) {
  margin-bottom: 3px;
}
.adress-suppliers li {
  position: relative;
}
.for-supp::before {
  content: url("../img/heart.svg");
  width: 15px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: -20px;
  cursor: pointer;
}
.adress-suppliers li:hover .for-supp::before{
  content: url("../img/heart-red.svg");
}
.footer-wrapp {
  display: flex;
  justify-content: center;
}
.suppliers {
  text-align: left;
  padding: 0 15px;
}
.documents {
  padding: 0px 17px;
}
.logo-list li,
.site-by {
  color: #fefefe;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.fatness {
  position: relative;
  padding: 0;
  margin: 0;
}
.fillers {
  background-color: #abbcb2;
  border-radius: 30px;
  width: 704px;
}
.fatness p {
  position: relative;
  display: inline-block;
}
.fillers p {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.fillers label {
  margin-bottom: 0px;
}
input + .checkbox-circle {
  background-image: url("../img/radio-off.svg");
  position: absolute;
  top: 7px;
  left: 14px;
  width: 22px;
  height: 22px;
  opacity: 0.8;
}
input:checked + .checkbox-circle {
  background-image: url("../img/radio-on.svg");
  position: absolute;
  top: 7px;
  left: 14px;
  width: 22px;
  height: 22px;
  opacity: 1;
}
input + .checkbox-square {
  background-image: url("../img/square-off.svg");
  position: absolute;
  top: 7px;
  left: 17px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
}
input:checked + .checkbox-square {
  background-image: url("../img/square-on.svg");
  position: absolute;
  top: 7px;
  left: 17px;
  width: 24px;
  height: 20px;
  opacity: 1;
}
input:disabled + .checkbox-square,
input:disabled + .checkbox-circle {
  opacity: 0.4;
}
.apply-button {
  border: 2px solid #ffffff;
  background-color: #a6b8ae;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.number-page_item {
  position: relative;
  width: 100%;
  text-align: end;
  padding: 22px 49.9px 32px 48.9px;
}
.number-list::before {
  content: url("../img/next-page.svg");
  cursor: pointer;
  position: absolute;
  top: 21.7px;
  right: 210px;
  transform: rotate(177deg);
}
.number-list::after {
  content: url("../img/next-page.svg");
  cursor: pointer;
  position: absolute;
  right: 27px;
  top: 24px;
}
.number-list li{
  display: inline-block;
  margin-right: -1.1px;
}
.number-page {
  padding: 4px 9px;
  border-radius: 50%;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.number-list li:nth-child(1) .number-page {
  background-color: #ffffff;
  color: #000;
}
.number-list .number-page:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.number-list .number-page:active {
  background-color: #ffffff;
  color: #000;
}
/* catalog */
.broadcrumps-list {
  padding: 14px 11px 1px 26.5px;
}
.broadcrumps-list a {
  text-decoration: none;
  color: #fff;
}
.broadcrumps-list li {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 17px 0 1px;
}
.broadcrumps-list li:not(:nth-child(1))::before {
  content: "»";
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  left: -14px;
}
.milky-icecream {
  margin: 0;
  color: #ffffff;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  padding: 0px 27px;
  margin-bottom: 9px;
}
.sort-label {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 18px 11px 6px 28px;
  margin: 0;
}
.sort-span{
  display: block;
  display: inline-block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 17px;
  padding: 7px 29px 8px 12px;
  margin-left: 12px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sort-span option {

}
select.desktopDropDown {
  outline : none;
  overflow : hidden;
  text-indent : 0.01px;
  text-overflow : '';
  background : url("../img/assets/arrow.png") no-repeat right #666;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
.icon-down-dir {
  position: relative;
}
.icon-down-dir {
  background: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13px;
  left: 180px;
}
.icon-down-dir-black {
  background: url(../img/icon-down-dir-black.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13px;
  left: 180px;
}
.sort-span:hover {
  color: #323232;
  background-color: #ffffff;
}
/*
.sort-span:hover .icon-down-dir {
  fill: #323232;
}
.icon-down-dir {
  display: inline-block;
  margin-left: 24px;
  fill: #ffffff;
}*/
.sort-wrapper {
  padding: 15px 15px;
  margin-bottom: 23px;
}
.sort-wrapper fieldset {
  display: block;
}
.sort-wrapper legend {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.legend-sort {
  padding: 0;
  margin: 0;
  padding: 2px 20px 7px 29px;
}
.legend-cost {
  padding: 0;
  margin: 0;
  padding: 2px 20px 7px 15px;
}
.legend-fatty {
  padding: 0;
  margin: 0;
  padding: 2px 15px 7px 15px;
}
.legend-fill {
  padding: 14px 16px 6px 17px;
  margin: 0;
}
.sort-wrapper form {
  width: 875px;
  display: flex;
  flex-wrap: wrap;
}
.col-sort {
  position: relative;
  padding: 0;
  margin: 0;
  width: 23.521%;
  margin-right: 7.5px;
}
.col-cost {
  padding: 0;
  margin: 0;
  width: 24.99%;
  margin: 0 7.5px;
}
.col-fatty {
  position: relative;
  padding: 0;
  margin: 0;
  width: 47.411%;
  margin-left: 7.5px;
}
.col-fillers {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 2px 11px;
}
.cost {
  padding: 0 5px;
}
.cost-label {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  padding: 17px 9px 7px 14px;
}
.wrapper-controller {
  background-color: #abbcb2;
  height: 37px;
  position: relative;
  border-radius: 20px;
}
.sircle-sml_left {
  width: 2.5px;
  height: 2.5px;
  background-color: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 34px;
  box-sizing: content-box;
  cursor: pointer;
}
.sircle-sml_right {
  width: 2.5px;
  height: 2.5px;
  background-color: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 66px;
  box-sizing: content-box;
  cursor: pointer;
}
.sircle-sml_left:hover,
.sircle-sml_right:hover {
  border: 10px solid #ffffff;
}
.long-line {
  width: 176px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  position: absolute;
  top: 16px;
  left: 21px;
}
.short-line {
  width: 107px;
  height: 4px;
  background-color: rgba(255,255,255, 0.8);
  opacity: 1;
  position: absolute; 
  top: 16px;
  left: 35px;
}
.checkbox-label p {
  margin: 0;
  padding: 0;
}
.fatness-paragraph {
  margin: 0;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 0 16px;
  width: 100%;
}
.checkbox-wrapper {
  padding: 12px 21px;
}
.checkbox-label {
  margin: 0;
  padding: 0;
  background-color: #abbcb2;
  border-radius: 30px;
  width: 100%;
}
.filter-checkbox-circle {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  padding: 8px 0px 10px 46px;
}
.filter-checkbox-square {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  padding: 7px 0px 10px 49.4px;
}
.col-broadcrumps {
  display: flex;
  min-width: 70%;
}
.accept {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  width: 144px;
  height: 37px;
  border-radius: 20px;
  margin-top: 36px;
  margin-left: 3px;
}
.item-ice_catalog .col-3 {
  margin-bottom: 23px;
}
.ice-wrapper_catalog {
  padding: 0 12.5px;
  position: relative;
}
.overlay {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}