body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #849d8f;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header {
  padding: 9px 0;
}
.navigation-wrapper {
  height: 100%;
}
.navigation-list{
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation-list li {
  display: inline-block;
}
.navigation-list a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.cont-loupe {
  position: relative;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.2;
  border-radius: 50%;
}
.cont-loupe::before {
  content: '';
  background: url(../img/loupe.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 1;
}
.menu-item_right {
  height: 100%;
}
.menu-list {
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-list li{
  display: inline-block;
}
.menu-list a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}
.main {
  position: relative;
}
.wrapper-content {
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 900px;
  max-width: 1200px;
  height: 100vw;
  position: relative;
  margin: 0 auto;
}
.slider {
  min-width: 900px;
  max-width: 1200px;
}
.slider {
  position: relative;
  padding: 321px 0 0 0;
  text-align: center;
  color: #ffffff;
}
.slide-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.buttons {
  padding: 12px 44px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 50px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
  border: none;
  display: inline-block;
}
.buttons:hover {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.buttons:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}



.slider-controls label {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  background-color: transparent;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 41px;
  font-size: 0;
  z-index: 20;
}
.slider-item-1,
.slider-item-2,
.slider-item-3 {
  display: none;
}
.slide-block {
  display: block;
}
.checked-bg {
  background-color: #fff !important;
}
/*
#product-1:checked ~ .main-container {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
#product-2:checked ~ .main-container {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
  background-repeat: no-repeat;
  background-position: top center;
}
#product-3:checked ~ .main-container {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
  background-repeat: no-repeat;
  background-position: top center;
}

*/

.product-1 {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.product-2 {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.product-3 {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
  background-repeat: no-repeat;
  background-position: top center;
}
  .slider-list li {
    width: 675px;
    margin: 0 auto 30px;
  }

/* offer blocks */
.promo-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5714%;
  margin:0 0 30px 0;
}
.offer-raspberry,
.offer-chocolate {
  border-radius: 15px;
}
.raspberry-container {
  width: 46.6666%;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.chocolate-container {
  width: 46.6666%;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.free-raspberry,
.free-chocolate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  }
.offer-text,
.ree-chocolate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.jam,
.chocolate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
}
/* offer blocks */

/* block with ice */
.text-about-ice {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.ice-cost {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  bottom: 60px;
}

.item-ice_1,
.item-ice_2,
.item-ice_3 {
  max-width: 100%;
}
/* block with ice */

/* about us block */
.about-shop {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.about-item .col-6 {
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.about-item {
  height: 100%;
  margin: 0 auto;
}
.container-item {
  background: url("../img/wafes.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  border-radius: 15px;
}
.wrapper-12 {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper-icecream,
.wrapper-leaf,
.wrapper-therm,
.wrapper-cow {
  flex: 0 0 50%;
  max-width: 50%;
}

.wrapper-icecream::before {
  content: url("../img/icecream.svg");
  position: absolute;
}

.wrapper-leaf::before {
  content: url("../img/leaf.svg");
  position: absolute;
}

.wrapper-cow::before {
  content: url("../img/cow.svg");
  position: absolute;
}

.wrapper-therm::before {
  content: url("../img/therm.svg");
  position: absolute;
}
.news {
  width: 95%;
}
.wrapper-news {
  display: flex;
  justify-content: space-between;
}
.about-blog,
.callback {
  flex: 0 0 50%;
  max-width: 50%;
}
.about-blog {
  background: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
}
.new-inblog {
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.ten-ways {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.callback {
  background: url("../img/border-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
  padding: 5px;
}
.callback form {
  background-color: #f8f7f4;
}
.callback p {
  color: #5a5a5a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.your-email {
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 15px 208px 13px 15px;
  border-radius: 6px;
}
.send-email {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 10px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
.map {
  position: relative;
  width: 95%;
  border: none;
}
.adress,
.phone {
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.city,
.number {
  color: #323232;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.adress-block {
  width: 302px;
  height: 305px;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 15px;
}
.popup {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 10px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
/* about us block */