body {
  min-width: 900px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #849d8f;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
header {
  padding: 9px 0;
}
.navigation-wrapper {
  height: 100%;
  width: 100%;
  margin-left: 3px;
}
.col-logo {
  width: 154px;
}
.col-navigation {
  flex-grow: 1;
  padding: 0 2.2%;
}
.col-profile {
  width: 249px;
  position: relative;
}
.top-logo {
  margin-left: 5px;
}
.navigation-list{
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -3px;
}
.navigation-list li {
  display: inline-block;
}
.navigation-list a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.navigation-list li:nth-child(1) a{
  padding: 0px 14px 0 0;
}
.navigation-list li:nth-child(2) a{
  padding: 0px 14px;
}
.navigation-list li:nth-child(3) a{
  padding: 0px 14px;
}
.cont-loupe {
  position: relative;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: rgba(255,254,255,0.2);
  border-radius: 50%;
}
.cont-loupe::before {
  content: '';
  background: url(../img/loupe.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 1;
}
.menu-item_right {
  height: 100%;
}
.menu-list {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -3px;
}
.menu-list li{
  display: inline-block;
}
.menu-list a {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}
.contacts {
  position: absolute;
  right: 3px;
  top: 62px;
  text-align: right;
}
.graph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 0;
  margin: 0;
  margin: 2px 0;
}
.tel {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
.cont-enter{
  position: relative;
  background-color: rgba(255,254,255,0.2);
  padding: 8px 14px 8px 42px;
  border-radius: 20px;
  margin: 0px 10px;
}
.cont-enter::before {
  content: '';
  background: url(../img/enter.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 16px;
  opacity: 1;
}
.cont-basket {
  position: relative;
  background-color: rgba(255,254,255,0.2);
  padding: 8px 14px 8px 42px;
  border-radius: 20px;
}
.cont-basket::before {
  content: '';
  background: url(../img/basket.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 16px;
  opacity: 1;
}
.main {
  position: relative;
}
.wrapper-content {
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 900px;
  max-width: 1200px;
  height: 100vw;
  position: relative;
  margin: 0 auto;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1.9%;
}

.slider {
  min-width: 900px;
  max-width: 1200px;
}
.slider {
  position: relative;
  padding: 280px 0 0 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 13px;
}
.slide-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 30px 0;
}
.buttons {
  padding: 9px 41px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 50px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
  border: none;
  display: inline-block;
}
.buttons:hover {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.buttons:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.slider-controls label {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  background-color: transparent;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 42px;
  left: 27px;
  font-size: 0;
  z-index: 20;
}
.slider-item-1,
.slider-item-2,
.slider-item-3 {
  display: none;
}
.slide-block {
  display: block;
}
.checked-bg {
  background-color: #fff !important;
}
.main-section {
  margin-bottom: 40px;
}
.product-1 {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.product-2 {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.product-3 {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
  background-repeat: no-repeat;
  background-position: top center;
}
  .slider-list li {
    width: 675px;
    margin: 0 auto 30px;
  }

/* offer blocks */
.promo-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2.271%;
  min-height: 100%;
}
.offer-raspberry,
.offer-chocolate {
  border-radius: 15px;
  padding: 15px 18px;
}
.raspberry-container {
  width: 48.867%;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 15px 15px 36.1px 18.2px;
}
.chocolate-container {
  width: 48.767%;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 15px 15px 36.1px 18.2px;
}
.buy-link {
  text-align: right;
  padding: 0 1.2%;
}
.free-raspberry,
.free-chocolate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
}
.offer-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 15.5px 1px;
  min-height: 100px;
  margin-bottom: 13px;
}
.jam,
.chocolate {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;
  border-radius: 20px;
}
.jam {
  padding: 10px 22px 13px;
}
.chocolate {
  padding: 10px 20px 13px;
}
/* offer blocks */

/* block with ice */
.text-about-ice {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  margin-top: 12px;
}
.ice-cost {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  bottom: -9px;
}
.ice-cost span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.text-wrapper {
  padding: 0px 12px;
}
.item-ice {
  margin-bottom: 23px;
}
.item-ice_1,
.item-ice_2,
.item-ice_3 {
  max-width: 100%;
}
.ice-wrapper {
  padding: 0 12.5px;
  position: relative;
}
.ice-wrapper::before {
  content: url("../img/hit.png");
  max-width: 100%;
  position: absolute;
  top: 0px;
  left: 13px;
}
/* block with ice */

/* about us block */
.about-shop {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 16px 1.7% 0;
}
.about-item {
  background: url("../img/wafes.jpg");
  background-repeat: repeat;
  background-position: top center;
  width: 95.5%;
  border-radius: 15px;
  margin: 0 2.3% 40px 2.3%;
  padding: 8px 0 14px 0;
}
.container-item {
  /*
  background: url("../img/wafes.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  */
  display: flex;
  flex-wrap: wrap;
  /*
  width: 95.5%;
  border-radius: 15px;
  margin: 0 2.3%;
  padding: 8px 0;
  */
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 8px 0 6px;
}
.advantages-list li{
  position: relative;
  width: 50%;
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 16px 5px 70px;
  margin-bottom: 6px;
}
/*
.wrapper-icecream,
.wrapper-leaf,
.wrapper-therm,
.wrapper-cow {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
*/
.advantages-icecream::before {
  content: url("../img/icecream.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}

.advantages-leaf::before {
  content: url("../img/leaf.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}

.advantages-cow::before {
  content: url("../img/cow.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}

.advantages-therm::before {
  content: url("../img/therm.svg");
  position: absolute;
  top: 1px;
  left: 13px;
}
.news {
  margin-bottom: 40px;
}
.wrapper-news {
  display: flex;
  justify-content: space-between;
  margin: 0 2.2%;
}
.about-blog,
.callback {
  flex: 0 0 48.8%;
  max-width: 48.8%;
}
.about-blog {
  background: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
  padding: 21px 1.8% 21px;
  height: 220px;
}
.new-inblog {
  color: #323232;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-bottom: 5px;
}
.ten-ways {
  color: #323232;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 290px;
}
.callback {
  background: url("../img/border-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
  padding: 4.5px;
  height: 220px;
}
.callback-block {
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 28px 20px;
  height: 211px;
}
.form-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.callback p {
  color: #5a5a5a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 36px;
}
.your-email {
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 14px 10px 14px;
  border-radius: 6px;
  margin-right: 6px;
  width: 72.2%;
  display: block;
}
.send-email {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 20px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 9px 18px 10px 18px;
  width: 130px;
  display: block;
}
.map {
  position: relative;
  width: 100%;
  border: none;
  margin: 0 auto;
}
.adress,
.phone {
  color: #323232;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 2px;
}
.city,
.number {
  color: #323232;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}
.adress-block {
  width: 302px;
  height: 305px;
  background-color: #ffffff;
  position: absolute;
  top: 62px;
  right: 27px;
  border-radius: 15px;
  padding: 30px 25px;
}
.popup {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 10px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
.map iframe {
  border: none;
}
.footer {
  height: 100px;
}
/* about us block */

/*footer*/
.social li{
  display: inline-block;
}
.suppliers,
.documents {
  width: 50%;
}
.footer-wrapp {
  display: flex;
}
.suppliers {
  text-align: end;
}
.broadcrumps-list li {
  display: inline-block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.broadcrumps-list li:not(:nth-child(1))::before {
  content: "»";
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.wrapper-controller {
  background-color: #abbcb2;
  width: 220px;
  height: 37px;
  position: relative;
  border-radius: 20px;
}
.long-line {
  width: 176px;
  height: 4px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 16px;
  left: 24px;
}
.short-line {
  width: 107px;
  height: 4px;
  background-color: green;
  opacity: 1;
  position: absolute; 
  top: 16px;
  left: 35px;
}
.sircle-sml_left {
  width: 5px;
  height: 5px;
  background-color: red;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 31px;
  box-sizing: content-box;
  cursor: pointer;
}
.sircle-sml_right {
  width: 5px;
  height: 5px;
  background-color: red;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 62px;
  box-sizing: content-box;
  cursor: pointer;
}
.fatness {
  position: relative;
}
.fatness label,
.fillers label{
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.fatness p,
.fillers p{
  position: relative;
  display: inline-block;
}
input + .checkbox-circle {
  background-image: url("../img/radio-off.svg");
  position: absolute;
  top: -1px;
  left: -1px;
  width: 22px;
  height: 22px;
}
input:checked + .checkbox-circle {
  background-image: url("../img/radio-on.svg");
  position: absolute;
  top: -1px;
  left: -1px;
  width: 22px;
  height: 22px;
}
input + .checkbox-square {
  background-image: url("../img/square-off.svg");
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
}
input:checked + .checkbox-square {
  background-image: url("../img/square-on.svg");
  position: absolute;
  top: -1px;
  left: -1px;
  width: 24px;
  height: 20px;
}
.fatness-block,
.fillers {
  background-color: #abbcb2;
}
.apply-button {
  border: 2px solid #ffffff;
  background-color: #a6b8ae;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.number-page_item {
  width: 100%;
  text-align: end;
}
.number-list::before,
.number-list::after {
  content: url("../img/next-page.svg");
  cursor: pointer;
}
.number-list li{
  display: inline-block;
}
.number-page {
  padding: 7px 11px;
  background-color: #ffffff;
  border-radius: 50%;
}